@model WebForSell.Models.LastestProduct

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LastestProduct</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isLasted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isLasted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastestProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastestProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastestProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastestProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastestProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastestProductImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LastestProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
