@model WebForSell.Models.NewArr

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>NewArr</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isArr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isArr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewArrName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewArrName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewArrPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewArrPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewArrImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewArrImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NewArrId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
